<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kimdoyeon.smsmanager">

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/main_ikon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MessageActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog.NoActionBar" />

        <activity android:name=".AddDeleteKeywordActivity" android:theme="@android:style/Theme.DeviceDefault.Light.Dialog.NoActionBar"/>
        <activity android:name=".AddImportantKeywordActivity" android:theme="@android:style/Theme.DeviceDefault.Light.Dialog.NoActionBar"/>
        <activity android:name=".AddSpamNumberActivity" android:theme="@android:style/Theme.DeviceDefault.Light.Dialog.NoActionBar"/>

        <activity android:name=".DeleteKeywordActivity"></activity>
        <activity android:name=".ImportantMessagesActivity"></activity>
        <activity android:name=".ImportantKeywordsActivity"></activity>
        <activity android:name=".SpamNumberActivity"></activity>
        <activity android:name=".DeletedMessageActivity"></activity>

        <receiver android:name=".AppWidget.NewAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/new_app_widget_info" />
        </receiver>
    </application>
</manifest>